//
// Button
// --------------------------------------------------

.btn {
    display: inline-block;
    color: #fff;
    background-color: $color-neutral;
    border-color: $color-neutral;
    text-align: center;
    font-weight: $font-weight-regular;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid $color-neutral;
    padding: $spacing-xsm $spacing-sm;
    font-size: 1rem;
    line-height: 1;
    border-radius: $radius-sm;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-bottom: 0.25rem;
    font-family: $body-font-family;
    box-shadow: $shadow-xsm;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        background-color: darken($color-neutral, 10%);
        border-color: darken($color-neutral, 10%);
    }

    &.btn-primary {
        color: white;
        background-color: $color-primary;
        border-color: $color-primary;
        &:hover {
          background-color: darken($color-primary, 10%);
          border-color: darken($color-primary, 10%);
        }
      }

      &.btn-secondary {
        color: $color-primary;
        background-color: transparent;
        border-color: $color-primary;
        &:hover {
          background-color: darken($color-primary, 10%);
          border-color: darken($color-primary, 10%);
          color: white;
        }
      }

      &.btn-success {
        color: #fff;
        background-color: $color-success;
        border-color: $color-success;
        &:hover {
          background-color: darken($color-success, 10%);
          border-color: darken($color-success, 10%);
        }
      }
      &.btn-warning {
        color: #fff;
        background-color: $color-warning;
        border-color: $color-warning;
        &:hover {
          background-color: darken($color-warning, 10%);
          border-color: darken($color-warning, 10%);
        }
      }
      &.btn-error {
        color: #fff;
        background-color: $color-error;
        border-color: $color-error;
        &:hover {
          background-color: darken($color-error, 10%);
          border-color: darken($color-error, 10%);
        }
      }

      // Disabled

      &.disabled {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.75;
      }

      // Size

      &.btn-sm {
        padding: $spacing-xxsm $spacing-xsm;
        font-size: $font-size-sm;
      }
      &.btn-lg {
        padding: $spacing-sm $spacing-md;
        font-size: $font-size-lg;
      }
}

// Button Group

.btn-group {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 0;

  // Horizontal

  &.btn-group-horizontal {
    .btn {
      &:not(:first-child):not(:last-child) {
        border-radius: 0;
        margin-left: -1px;
      }
      &:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      &:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: -1px;
      }
    }
  }

  // Vertical

  &.btn-group-vertical {

    .btn {
      display: block;
      margin-bottom: 0;
      &:not(:first-child):not(:last-child) {
        border-radius: 0;
        margin-top: -1px;
      }
      &:first-child {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
      
      &:last-child {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        margin-top: -1px;
      }
    }
  }
}