//
// Typography
// --------------------------------------------------

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: $spacing-sm;
    line-height: $line-height-sm;
    font-weight: $font-weight-light;
    color: $color-heading;
    letter-spacing: -.025em;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.75rem;
  }
  
  h3 {
    font-size: 1.5rem;
  }
  
  h4 {
    font-size: 1.25rem;
  }
  
  h5 {
    font-size: 1.1rem;
  }
  
  h6 {
    font-size: 1rem;
  }
  
  /* Larger than phablet */
  @media (min-width: $size-sm) {
    h1 {
      font-size: 3.0rem;
    }
    h1.jumbo {
      font-size: 3.5rem;
    }
    h2 {
      font-size: 2.5rem;
    }
    h3 {
      font-size: 2.0rem;
    }
    h4 {
      font-size: 1.5rem;
    }
    h5 {
      font-size: 1.25rem;
    }
    h6 {
      font-size: 1rem;
    }
  }

  p {
    margin-bottom: $spacing-sm;
    margin-top: 0;
  }