//
// Colour
// --------------------------------------------------

.radius-sm {
    border-radius: $radius-sm;
}

.radius-md {
    border-radius: $radius-md;
}

.radius-lg {
    border-radius: $radius-lg;
}