//
// Spacing
// --------------------------------------------------

// Padding Top

.pt-0 {
    padding-top: 0;
}

.pt-xsm {
    padding-top: $spacing-xsm;
}

.pt-sm {
    padding-top: $spacing-sm;
}

.pt-md {
    padding-top: $spacing-md;
}

.pt-lg {
    padding-top: $spacing-lg;
}

.pt-xlg {
    padding-top: $spacing-xlg;
}

// Padding Bottom

.pb-0 {
    padding-bottom: 0;
}

.pb-xsm {
    padding-bottom: $spacing-xsm;
}

.pb-sm {
    padding-bottom: $spacing-sm;
}

.pb-md {
    padding-bottom: $spacing-md;
}

.pb-lg {
    padding-bottom: $spacing-lg;
}

.pb-xlg {
    padding-bottom: $spacing-xlg;
}