//
// Spacing
// --------------------------------------------------

// Padding Top

.pt-0 {
    padding-top: 0;
}

.pt-xsm {
    padding-top: $spacing-xsm;
}

.pt-sm {
    padding-top: $spacing-sm;
}

.pt-md {
    padding-top: $spacing-md;
}

.pt-lg {
    padding-top: $spacing-lg;
}

.pt-xlg {
    padding-top: $spacing-xlg;
}

// Padding Bottom

.pb-0 {
    padding-bottom: 0;
}

.pb-xsm {
    padding-bottom: $spacing-xsm;
}

.pb-sm {
    padding-bottom: $spacing-sm;
}

.pb-md {
    padding-bottom: $spacing-md;
}

.pb-lg {
    padding-bottom: $spacing-lg;
}

.pb-xlg {
    padding-bottom: $spacing-xlg;
}

// Margin Top

.mt-0 {
    margin-top: 0;
}

.mt-xsm {
    margin-top: $spacing-xsm;
}

.mt-sm {
    margin-top: $spacing-sm;
}

.mt-md {
    margin-top: $spacing-md;
}

.mt-lg {
    margin-top: $spacing-lg;
}

.mt-xlg {
    margin-top: $spacing-xlg;
}

// Margin Bottom

.mb-0 {
    margin-bottom: 0;
}

.mb-xsm {
    margin-bottom: $spacing-xsm;
}

.mb-sm {
    margin-bottom: $spacing-sm;
}

.mb-md {
    margin-bottom: $spacing-md;
}

.mb-lg {
    margin-bottom: $spacing-lg;
}

.mb-xlg {
    margin-bottom: $spacing-xlg;
}