//
// Spacing
// --------------------------------------------------

// Padding All

.p-0 {
    margin: 0;
}

.p-xxsm {
    padding: $spacing-xxsm;
}

.p-xsm {
    padding: $spacing-xsm;
}

.p-sm {
    padding: $spacing-sm;
}

.p-md {
    padding: $spacing-md;
}

.p-lg {
    padding: $spacing-lg;
}

.p-xlg {
    padding: $spacing-xlg;
}

.p-xxlg {
    padding: $spacing-xxlg;
}

// Padding Top

.pt-0 {
    padding-top: 0;
}

.pt-xxsm {
    padding-top: $spacing-xxsm;
}

.pt-xsm {
    padding-top: $spacing-xsm;
}

.pt-sm {
    padding-top: $spacing-sm;
}

.pt-md {
    padding-top: $spacing-md;
}

.pt-lg {
    padding-top: $spacing-lg;
}

.pt-xlg {
    padding-top: $spacing-xlg;
}

.pt-xxlg {
    padding-top: $spacing-xxlg;
}

// Padding Bottom

.pb-0 {
    padding-bottom: 0;
}

.pb-xxsm {
    padding-bottom: $spacing-xxsm;
}

.pb-xsm {
    padding-bottom: $spacing-xsm;
}

.pb-sm {
    padding-bottom: $spacing-sm;
}

.pb-md {
    padding-bottom: $spacing-md;
}

.pb-lg {
    padding-bottom: $spacing-lg;
}

.pb-xlg {
    padding-bottom: $spacing-xlg;
}

.pb-xxlg {
    padding-bottom: $spacing-xxlg;
}

// Padding Right

.pr-0 {
    padding-right: 0;
}

.pr-xxsm {
    padding-right: $spacing-xxsm;
}

.pr-xsm {
    padding-right: $spacing-xsm;
}

.pr-sm {
    padding-right: $spacing-sm;
}

.pr-md {
    padding-right: $spacing-md;
}

.pr-lg {
    padding-right: $spacing-lg;
}

.pr-xlg {
    padding-right: $spacing-xlg;
}

.pr-xxlg {
    padding-right: $spacing-xxlg;
}

// Padding Left

.pl-0 {
    padding-left: 0;
}

.pl-xxsm {
    padding-left: $spacing-xxsm;
}

.pl-xsm {
    padding-left: $spacing-xsm;
}

.pl-sm {
    padding-left: $spacing-sm;
}

.pl-md {
    padding-left: $spacing-md;
}

.pl-lg {
    padding-left: $spacing-lg;
}

.pl-xlg {
    padding-left: $spacing-xlg;
}

.pl-xxlg {
    padding-left: $spacing-xxlg;
}

// Margin All

.m-0 {
    margin: 0;
}

.m-xxsm {
    margin: $spacing-xxsm;
}

.m-xsm {
    margin: $spacing-xsm;
}

.m-sm {
    margin: $spacing-sm;
}

.m-md {
    margin: $spacing-md;
}

.m-lg {
    margin: $spacing-lg;
}

.m-xlg {
    margin: $spacing-xlg;
}

.m-xxlg {
    margin: $spacing-xxlg;
}

// Margin Top

.mt-0 {
    margin-top: 0;
}

.mt-xxsm {
    margin-top: $spacing-xxsm;
}


.mt-xsm {
    margin-top: $spacing-xsm;
}

.mt-sm {
    margin-top: $spacing-sm;
}

.mt-md {
    margin-top: $spacing-md;
}

.mt-lg {
    margin-top: $spacing-lg;
}

.mt-xlg {
    margin-top: $spacing-xlg;
}

.mt-xxlg {
    margin-top: $spacing-xxlg;
}

// Margin Bottom

.mb-0 {
    margin-bottom: 0;
}

.mb-xxsm {
    margin-bottom: $spacing-xxsm;
}

.mb-xsm {
    margin-bottom: $spacing-xsm;
}

.mb-sm {
    margin-bottom: $spacing-sm;
}

.mb-md {
    margin-bottom: $spacing-md;
}

.mb-lg {
    margin-bottom: $spacing-lg;
}

.mb-xlg {
    margin-bottom: $spacing-xlg;
}

.mb-xxlg {
    margin-bottom: $spacing-xxlg;
}

// Margin Right

.mr-0 {
    margin-right: 0;
}

.mr-xxsm {
    margin-right: $spacing-xxsm;
}

.mr-xsm {
    margin-right: $spacing-xsm;
}

.mr-sm {
    margin-right: $spacing-sm;
}

.mr-md {
    margin-right: $spacing-md;
}

.mr-lg {
    margin-right: $spacing-lg;
}

.mr-xlg {
    margin-right: $spacing-xlg;
}

.mr-xxlg {
    margin-right: $spacing-xxlg;
}

// Margin Left

.ml-0 {
    margin-left: 0;
}

.ml-xxsm {
    margin-left: $spacing-xxsm;
}

.ml-xsm {
    margin-left: $spacing-xsm;
}

.ml-sm {
    margin-left: $spacing-sm;
}

.ml-md {
    margin-left: $spacing-md;
}

.ml-lg {
    margin-left: $spacing-lg;
}

.ml-xlg {
    margin-left: $spacing-xlg;
}

.mr-xxlg {
    margin-right: $spacing-xxlg;
}