//
// Typography
// --------------------------------------------------

.font-sm {
    font-size: $font-size-sm;
}

.font-lg {
    font-size: $font-size-lg;
}

.text-light {
    font-weight: $font-weight-light;
}

.text-regular {
    font-weight: $font-weight-regular;
}

.text-bold {
    font-weight: $font-weight-bold;
}

.text-xbold {
    font-weight: $font-weight-xbold;
}