//
// Variables
// --------------------------------------------------

// Colour Palette

$color-primary: #0c53fb;
$color-primary-light: lighten($color-primary, 10%);
$color-primary-dark: darken($color-primary, 10%);

// Neutral

$color-neutral: #f2f5fa;
$color-neutral-lighter: lighten($color-neutral, 10%);
$color-neutral-light: lighten($color-neutral, 5%);
$color-neutral-dark: darken($color-neutral, 5%);
$color-neutral-darker: darken($color-neutral, 10%);

// Success
$color-success: #03A55A;
$color-success-lighter: lighten($color-success, 10%);

// Warning
$color-warning: #EE8D31;
$color-warning-lighter: lighten($color-warning, 10%);

// Error
$color-error: #DC3055;
$color-error-lighter: lighten($color-error, 10%);

// Text Colours
$color-text: #5c6b86;
$color-heading: #253143;

// Typography
$body-font-family: 'Inter', sans-serif;
$mono-font-family: 'Roboto Mono', monospace;

$font-size-sm: .75rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;

$line-height-xsm: 1;
$line-height-sm: 1.15;
$line-height-md: 1.5;
$line-height-lg: 1.75;
$line-height-xlg: 2;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-xbold: 900;

// Spacing
$spacing-none: 0;
$spacing-xxsm: .375rem;
$spacing-xsm: .75rem;
$spacing-sm: 1.5rem;
$spacing-md: 3rem;
$spacing-lg: 6rem;
$spacing-xlg: 12rem;

// Radius
$radius-sm: .375rem;
$radius-md: .75rem;
$radius-lg: 1.5rem;

// Box Shadow

$shadow-xsm: 0 2px 4px rgba($color-neutral-darker, 0.2);
$shadow-md: 0px 4px 20px 0px rgb($color-neutral-darker, 0.3);

$layout-spacing: $spacing-xsm;
$layout-spacing-sm: $spacing-sm;
$layout-spacing-lg: $spacing-md;

// Responsive breakpoints
$size-xs: 480px;
$size-sm: 600px;
$size-md: 840px;
$size-lg: 992px;
$size-xl: 1280px;
$size-2x: 1440px;